* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    padding: 0 10px;
    margin: 20px 0;
    font-weight: normal;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}

header > .line, header > .extra-line {
    width: 100%;
    display: flex;
}

header figure {
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    left: 0;
    /*top: 0;*/
    max-width: 100vw;
    height: calc(100vh - 60px);
    z-index: 10000;
}

.menu > .backdrop {
    display: block;
    color: transparent;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    z-index: 9000;
    cursor: default;
}

.menu > ul {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 80%;
    /*color: #999;*/
    /*line-height: 26px;*/
    background: white;
    z-index: 11000;
    min-width: 250px;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}

.menu > ul > li {
    /*font-size: 80%;*/
    color: #999;
    line-height: 26px;
    margin: 0em;
    padding: 0px;
    width: 100%;
}

.menu > ul > li > * {
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 0px;
}

.menu h4 {
    font-size: 1.17em;
    font-weight: normal;
}

main {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main > h1 {
    margin: 11px 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.page-sections-links {
    margin-top: 20px;
    margin-left: 10px;
}

.page-sections-links > a {
    display: inline-block;
    border: none;
    margin-bottom: 6px;
    padding: 2px 6px;
    margin-right: 5px;
    padding-top: 4px;
}

main > section > h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

main > section > .links-list, main > section > .links-grid, main > section > .links-grid ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main > section > .links-list > li, main > section > .links-grid ul > li {
    border-bottom: 1px solid;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
}

main > section > .links-list > li:last-child, main > section > .links-grid ul > li:last-child {
    border-bottom: none;
}

main > section > .links-list > li > span, main > section > .links-grid ul > li > span {
    display: block;
    padding-top: 6px;
    padding-bottom: 0px;
}

footer {
    padding: 0 10px;
    border-top: 1px solid;
    margin-top: 10px;
}

footer a, footer .copyright {
    line-height: 2.4em;
}

/* Common */

.left-section, .right-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right-section {
    justify-content: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.hide-on-mobile {
    display: none !important;
}

body:target {
    overflow: hidden;
}

body:target .menu {
    display: block !important;
}

body:target .menu-button {
    display: none;
}

body:not(:target) .menu-close-button {
    display: none;
}

@media all and (max-width: 450px) {
    .menu {
        width: 100vw;
    }

    .menu > ul {
        padding: 40px;
    }
}

@media all and (max-width: 350px) {

    .menu > ul {
        padding: 20px;
    }
}